:root {
  /* =========================
     TEMA CLARO
     ========================= */

  /* Fondos */
  --bg-primary: #fbfbf9;
  --bg-secondary: #E5E2CF;
  --bg-red: #e05858;
  --color-white: white;

  /* Texto */
  --text-primary: #303B32;
  --text-secondary: #6C756B;

  /* Bordes */
  --border-color: #C8C9B7;

  /* Botones */
  --button-bg: #68775F;
  --button-text: #F7F5EC;
  --button-hover: #526249;

  /* Cards */
  --card-bg: #FFFFFF;

  /* Sombras */
  --shadow-color: rgba(48, 59, 50, 0.16);
}


.dark {
  /* =========================
     TEMA OSCURO
     ========================= */

  /* Fondos */
  --bg-primary: #1E2520;
  --bg-secondary: #2B342C;

  /* Texto */
  --text-primary: #F7F5EC;
  --text-secondary: #B9BDAF;

  /* Bordes */
  --border-color: #4E594D;

  /* Botones */
  --button-bg: #8E9B7E;
  --button-text: #1E2520;
  --button-hover: #AAB59B;

  /* Cards */
  --card-bg: #354036;

  /* Sombras */
  --shadow-color: rgba(0, 0, 0, 0.5);
}